@{ 
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="~/Template/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Template/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Template/assets/img/dsBuffer.jpg" width="200px" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    KENAN
                    <span class="text-primary">ÖZTÜRK</span>
                </h1>
               
                <p class="lead mb-5">
                    I graduated from Atılım University in 2019.
                    Thanks to the software courses I ake lessons from during my education, I thought that I was suitable for this sector.
                    In order to develop myself further and further, I am currently receiving training and internship in the boost project of BilgeAdamAkademi.
                    My goal is to do good work in the software industry and become a well-known Full Stack Developer.
                </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.instagram.com/kenannnozturkk/"><i class="fab fa-instagram"></i></a>
                    <a class="social-icon" href="https://www.linkedin.com/in/kenan-%C3%B6zt%C3%BCrk-a90708b6/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/KenanOztrk"><i class="fab fa-github"></i></a>
                   
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 text-primary">Fullstack Developer</h3>
                        <div class="subheading mb-3">Intern at Bilgeadam</div>
                        
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2021 - Present</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 text-primary">Atılım University</h3>
                        <div class="subheading mb-3">Bachelor of Engineering</div>
                        <div>Elektrical and Electronics Engineer</div>
                        
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Graduation - December 2019</span></div>
                </div>
               
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3 text-primary">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-bootstrap"></i>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    
                    
                </ul>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        MSSQL
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        C#
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Web Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Project Development with .NET Core MVC
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Onion Architecture
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
       
        <hr class="m-0" />
       
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
