@{
    ViewData["Title"] = "Sosyal";
}
<style>

    body{
        background-color:#e5e5d5;
    }
    
    .box1{
       
        margin-left:400px;
        margin-top:10px;
    }
    .box2{

        margin-left:600px;
        margin-top:-115px;
    }
    

    .ciz{
        height:150px;
        border-style:solid;
        border-width: 5px 0px 5px 0px;
        border-color:white;
        padding-bottom:25px;
        margin-top:120px;
    }

</style>
<div class="ciz">

    <body>
        <div class="box1">

            <a href="https://www.instagram.com/kenannnozturkk/"><img src="~/css/instagram.png" width="130px" height="130px" /></a>
        </div>
        <div class="box2">
            <a href="https://www.linkedin.com/in/kenan-%C3%B6zt%C3%BCrk-a90708b6/"><img src="~/css/linkedin.png" width="100px" height="100px" /></a>
        </div>

    </body>

</div>
<head>

</head>


